<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/argiru/public/css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Tienda E-commerce</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h2>Bienvenido a nuestra tienda</h2>
            <p>Descubre nuestros productos exclusivos y ofertas especiales.</p>
            <a href="#productos" class="btn">Ver Productos</a>
        </section>
        
        <section id="productos">
            <h2>Productos Destacados</h2>
            <div class="producto">
                <img src="producto1.jpg" alt="Producto 1">
                <h3>Nombre del Producto 1</h3>
                <p>Descripción breve del producto.</p>
                <p>Precio: $XX.XX</p>
                <a href="#" class="btn">Añadir al Carrito</a>
            </div>
            <div class="producto">
                <img src="producto2.jpg" alt="Producto 2">
                <h3>Nombre del Producto 2</h3>
                <p>Descripción breve del producto.</p>
                <p>Precio: $XX.XX</p>
                <a href="#" class="btn">Añadir al Carrito</a>
            </div>
            <!-- Agrega más productos según sea necesario -->
        </section>

        <section id="ofertas">
            <h2>Ofertas Especiales</h2>
            <p>No te pierdas nuestras ofertas exclusivas. ¡Descúbrelas ahora!</p>
            <!-- Información y enlaces a ofertas especiales -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tienda E-commerce. Todos los derechos reservados.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/javiercordobav/">linkedin</a>
            <a href="https://wa.me/5491136797720" target="_blank">Enviar mensaje por WhatsApp</a>
            <a href="#">Instagram</a>
        </div>
    </footer>
</body>
</html>